<?xml version="1.0"?>
<config>
    <modules>
        <Fballiano_Omnibus>
            <version>0.1.0</version>
        </Fballiano_Omnibus>
    </modules>
    <global>
        <models>
            <fballiano_omnibus>
                <class>Fballiano_Omnibus_Model</class>
                <resourceModel>fballiano_omnibus_resource</resourceModel>
            </fballiano_omnibus>
            <fballiano_omnibus_resource>
                <class>Fballiano_Omnibus_Model_Resource</class>
            </fballiano_omnibus_resource>
        </models>
        <blocks>
            <fballiano_omnibus>
                <class>Fballiano_Omnibus_Block</class>
            </fballiano_omnibus>
        </blocks>
        <helpers>
            <fballiano_omnibus>
                <class>Fballiano_Omnibus_Helper</class>
            </fballiano_omnibus>
        </helpers>
        <resources>
            <fballiano_omnibus_setup>
                <setup>
                    <module>Fballiano_Omnibus</module>
                </setup>
            </fballiano_omnibus_setup>
        </resources>
        <events>
            <prepare_catalog_product_price_index_table>
                <observers>
                    <fballiano_omnibus>
                        <class>Fballiano_Omnibus_Model_Observer</class>
                        <method>prepareCatalogProductPriceIndexTable</method>
                    </fballiano_omnibus>
                </observers>
            </prepare_catalog_product_price_index_table>
        </events>
    </global>
</config>